.corousel-img-1{
    background-image: url(../image/carousel/3.jpg);
    background-size: cover;
    height: 100vh;
}
.corousel-img-2{
    background-image: url(../image/carousel/4.jpg);
    background-size: cover;
    height: 100vh;
}
.corousel-img-3{
    background-image: url(../image/carousel/5.jpg);
    background-size: cover;
    height: 100vh;
}
.clients-image{
    width: 160px;
}